* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */

header {
  height: 80px;
}

.header-wrap {
  width: 80%;
  height: 80px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.header-wrap nav ul {
  float: right;
}

.header-wrap nav ul li {
  list-style-type: none;
  float: left;
}

.header-wrap nav li a {
  display: block; /* 充满li元素 */
  text-decoration: none;
  height: 40px;
  padding: 0 40px;
  margin-top: 20px;
  font-size: 15px;'
  vertical-align: middle;
  line-height: 40px;
  position: relative;
}

.header-wrap nav li + li a {
  border-left: solid 1px gray;
}

.header-wrap a:hover::after {
  content: "";
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: gray;
}
