* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */

header {
  height: 60px;
}

.header-wrap {
  width: 80%;
  height: 60px;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.header-wrap nav ul {
  float: right;
}

.header-wrap nav ul li {
  list-style-type: none;
  float: right;
}

.header-wrap nav li a {
  display: block; /* 充满li元素 */
  text-decoration: none;
  padding: 0 10px;
  font-size: 25px;
  line-height: 30px;
}
