* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-family: arial, "microsoft yahei", sans-serif;
}

/* header */

header {
  width: 100%;
  height: 60px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.header-wrap {
  width: 80%;
  height: 60px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-width: 470px;
}

/* title */

.header-title {
  height: 100%;
  float: left;
}

.header-title .site-title {
  display: block;
  margin-left: 30px;
  line-height: 60px;
  vertical-align: middle;
  font-size: 30px;
  color: gray;
  font-weight: small;
  text-decoration: none;
}

@media screen and (max-width: 765px) {
  .header-title {
    display: none;
  }
  .header-wrap nav {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  nav ul {
    display: inline-block;
  }
}

/* navigation */
.header-wrap nav {
  height: 100%;
  float: right;
}

.header-wrap nav ul li {
  height: 100%;
  list-style-type: none;
  float: left;
}

.header-wrap nav li a {
  display: block; /* 充满li元素 */
  text-decoration: none;
  color: black;
  height: 40px;
  padding: 0 40px;
  margin-top: 10px;
  font-size: 18px;'
  vertical-align: middle;
  line-height: 40px;
  position: relative;
}

.header-wrap nav li + li a {
  border-left: solid 1px #CCCCCC;
}

.header-wrap a:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #CCCCCC;
}
