<header>
  <div class="header-wrap">
    <div class="header-title">
         <a href="{{ site.url }}" class="site-title">IOStream</a>
    </div>
    <nav>
      <ul>
        <li><a href="#">主页</a></li>
        <li><a href="{{ site.baseurl }}/archive/">归档</a></li>
        <li><a href="{{ site.baseurl }}/categories/">目录</a></li>
        <li><a href="{{ site.baseurl }}/tags/">标签</a></li>
        <li><a href="{{ site.baseurl }}/about/">关于</a></li>
      </ul>
    </nav>
  </div>
</header>
